/*
  This version of impress.js supports plugins, and in particular, a UI toolbar
  plugin that allows easy navigation between steps and autoplay.
*/
.impress-enabled div#impress-toolbar {
    position: fixed;
    right: 1px;
    bottom: 1px;
    opacity: 0.6;
    z-index: 10;
}
.impress-enabled div#impress-toolbar > span {
    margin-right: 10px;
}

/*
    With help from the mouse-timeout plugin, we can hide the toolbar and
    have it show only when you move/click/touch the mouse.
*/
body.impress-mouse-timeout div#impress-toolbar {
    display: none;
}

/*
    In fact, we can hide the mouse cursor itself too, when mouse isn't used.
*/
body.impress-mouse-timeout {
    cursor: none;
}



/* Progress bar */
.impress-progressbar {
  position: absolute;
  right: 118px;
  bottom: 1px;
  left: 118px;
  border-radius: 7px;
  border: 2px solid rgba(100, 100, 100, 0.2);
}
.impress-progressbar DIV {
  width: 0;
  height: 2px;
  border-radius: 5px;
  background: rgba(75, 75, 75, 0.4);
  transition: width 1s linear;
}
.impress-progress {
  position: absolute;
  left: 59px;
  bottom: 1px;
  text-align: left;
  font-size: 10pt;
  opacity: 0.6;
}

/* Help popup plugin */
.impress-enabled #impress-help {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    color: #EEEEEE;
    font-size: 80%;
    position: fixed;
    left: 2em;
    bottom: 2em;
    width: 24em;
    border-radius: 1em;
    padding: 1em;
    text-align: center;
    z-index: 100;
    font-family: Verdana, Arial, Sans;
}
.impress-enabled #impress-help td {
    padding-left: 1em;
    padding-right: 1em;
}
.impress-enabled                          { pointer-events: none }
.impress-enabled #impress                 { pointer-events: auto }
.impress-enabled #impress-toolbar         { pointer-events: auto }
.impress-enabled #impress-console-button  { pointer-events: auto }

body {
  background-image: url(images/noise.png);
}
.step {
    position: relative;
    padding: 40px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;
    font-family: 'PT Serif', georgia, serif;
    font-size: 48px;
    line-height: 1.5;
}
.slide {
  display: block;
  width: 2000px;
  height: 1200px;
  padding: 60px 100px;
  background-color: white;
  border: 5px solid rgba(0, 0, 0, .5);
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
  color: rgb(102, 102, 102);
  text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
  font-family: 'Open Sans', Arial, sans-serif;
}
.credits, .credits h2 {
  padding-top: 0;
}

.title-name {
  text-align:right;
  font-size:70%;
  padding-right: 5em;
}

.title-slide {
  text-align:center;
  font-size:145%;
  padding-bottom: 6em;
}

.title-bottom-img  {
  position: relative;
  text-align:center;
  vertical-align:middle;
  width:265px;
  height:75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.last-slide {
  text-align:center;
  vertical-align:bottom;
  padding-bottom: 1em;
  color: #0A0E36;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size:300%;
}

.slide-title {
  color: #0A0E36;
  font-size:120%;
}

#shell1 {
  float: left;
  position: relative;
  height: 800px;
  width: 889px;
}

#shell2 {
  float: right;
  position: relative;
  height: 800px;
  width: 889px;
}

.slide-illustration {
  float: right;
  position: relative;
  height: 800px;
  width: 800px;
}

#sublist {
  font-size:80%;
  padding-left: 1.5em;
}